body {
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #c4f4d4;
    margin: 0;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
}

*, *:before, *:after {  
    box-sizing: inherit;
}

h1, h2 {
    color: #333;
}

#bookForm {
    background: lightgreen;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}
input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    height: 50px;
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    background: #5cb85c;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background: #4cae4c;
}

.table-container{
    margin: 20px auto;
    height: 175px;
    width: 80%;
    overflow-y: scroll;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background: white;
}

#bookTable {
    width: 100%;
    border-collapse: collapse;
    background: white;
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}
th {
    background-color: #5cb85c;
    color: white;
}